<nav id="api" class="sidebar sticky">
    <a href="https://www.chaijs.com/api/" class="item{% if page.url == '/api/index.html' %} active{% endif %}">
        Introduction
    </a>
    <a href="https://www.chaijs.com/api/bdd/" class="item{% if page.url == '/api/bdd/' %} active{% endif %}">
        Expect / Should
    </a>
    <a href="https://www.chaijs.com/api/assert/" class="item{% if page.url == '/api/assert/' %} active{% endif %}">
        Assert
    </a>
    <a href="https://www.chaijs.com/api/plugins/" class="item{% if page.url == '/api/plugins/' %} active{% endif %}">
        Plugin Utilities
    </a>
    <a href="https://www.chaijs.com/api/test/" class="item{% if page.url == '/api/test/' %} active{% endif %}">
        Online Test Suite
    </a>
    {% if page.api_namespace %}
    <div class="list box-wrap antiscroll-wrap" style="height: 338px;">
        <div class="box">
            <div class="antiscroll-inner" style="height: 338px; width: 225px;">
                <div class="box-inner">
                  {% for method in site.data.chai %}
                    {% assign render = false %}
                    {% assign name = false %}
                    {% for tag in method.tags %}
                      {% if tag.type == "namespace" and tag.string == page.api_namespace %}
                        {% assign render = true %}
                      {% endif %}
                      {% if tag.type == "name" %}
                        {% capture name %}{{ tag.string }}{% endcapture %}
                      {% endif %}
                    {% endfor %}
                    {% if render %}
                      <a href="#method_{{ name | slugify }}" class="scroll item">{{ name }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</nav>
