<footer>
    <section id="footer">
        <div class="branding">
            <h3 class="fancy">
                <a href="{{site.github.url}}/">Chai Assertion Library</a>
            </h3>
        </div>
        <div class="list">
            <ul>
                <li><a href="{{site.github.url}}/guide/installation/">Installation</a></li>
                <li><a href="{{site.github.url}}/guide/styles/">Interface Styles</a></li>
                <li><a href="{{site.github.url}}/guide/plugins/">Developing Plugins</a></li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <li><a href="{{site.github.url}}/api/bdd/">Expect / Should API</a></li>
                <li><a href="{{site.github.url}}/api/assert/">Assert API</a></li>
                <li><a href="{{site.github.url}}/api/plugins/">Plugin Utility API</a></li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <li><a href="{{site.github.url}}/guide/resources/">Getting Help</a></li>
                <li><a href="{{site.github.url}}/api/test/">Test Suite</a></li>
                <li><a href="{{site.github.url}}/releases" target="_blank">Releases</a></li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <li><a href="https://github.com/chaijs/chai/issues" target="_blank">Issues</a></li>
                <li><a href="http://groups.google.com/group/chaijs" target="_blank">Google Group</a></li>
                <li><a href="http://travis-ci.org/#!/chaijs/chai" target="_blank">Build Status</a></li>
            </ul>
        </div>
    </section>
    <script src="/chai.js" type="text/javascript"></script>
</footer>
