---
layout: default
bodyClass: api
---
{% include apiSidebar.html %}
<div class="documentation">
    <div class="wrap">
        <div class="rendered">
            {{ content }}

            {% if page.api_namespace %}
              <h2>API Reference</h2>
              {% for method in site.data.chai %}
                {% assign render = false %}
                {% for tag in method.tags %}
                  {% if tag.type == "namespace" and tag.string == page.api_namespace %}
                    {% assign render = true %}
                  {% endif %}
                  {% if tag.type == "name" %}
                    {% capture name %}{{ tag.string }}{% endcapture %}
                  {% endif %}
                {% endfor %}
                {% if render %}
                  <div id="method_{{ name | slugify }}" class="api_method_wrapper">
                    {{ method.description.summary | markdownify }}
                    <ul class="tags">
                      {% for tag in method.tags %}
                        {% if tag.type == "param" %}
                          <li class="tag"><span class="type">&#64;{{ tag.type }}</span> <span class="types">&#123; {{ tag.types | join: ' | ' }} &#125;</span> <span class="name">{{ tag.name }}</span> <span class="desc">{{ tag.description }}</span></li>
                        {% elsif tag.type == "see" %}
                          <li class="tag"><span class="type">&#64;{{ tag.type }}</span> {% if tag.url %}<span class="type"><a href='{{ tag.url }}' target='_blank'>{{ tag.url }}</a></span>{% else %}<span class="name">{{ tag.local }}</span>{% endif %}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {{ method.description.body | markdownify }}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
