---
layout: default
bodyClass: tests
---
{% include apiSidebar.html %}
<div class="documentation">
    <div class="wrap">
        <div class="rendered">
            <article>
                {{ content }}
            </article>
        </div>
        <div id="mocha"></div>
    </div>
</div>
<script src="/js/mocha.js"></script>
<script>
  mocha.setup('bdd');

  err = function (fn, msg) {
    try {
      fn();
      throw new chai.AssertionError({ message: 'Expected an error' });
    } catch (err) {
      if ('string' === typeof msg) {
        chai.expect(err.message).to.equal(msg);
      } else {
        chai.expect(err.message).to.match(msg);
      }
    }
  };
</script>
<script src="https://cdn.rawgit.com/chaijs/chai/{{ site.data.releases[0].tag_name }}/test/assert.js"></script>
<script src="https://cdn.rawgit.com/chaijs/chai/{{ site.data.releases[0].tag_name }}/test/configuration.js"></script>
<script src="https://cdn.rawgit.com/chaijs/chai/{{ site.data.releases[0].tag_name }}/test/expect.js"></script>
<script src="https://cdn.rawgit.com/chaijs/chai/{{ site.data.releases[0].tag_name }}/test/globalShould.js"></script>
<script src="https://cdn.rawgit.com/chaijs/chai/{{ site.data.releases[0].tag_name }}/test/plugins.js"></script>
<script src="https://cdn.rawgit.com/chaijs/chai/{{ site.data.releases[0].tag_name }}/test/should.js"></script>
<script src="https://cdn.rawgit.com/chaijs/chai/{{ site.data.releases[0].tag_name }}/test/utilities.js"></script>
<script>
  mocha.run();
</script>
